@import "variables.css";
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.container {
  display: flex;
  width: 96%;
  margin: 2rem auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.playcontainer {
  display: flex;
  width: 96%;
  margin: 2rem auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 46%;
  min-height: 40rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 9px 8px black;
  border-radius: 2rem;
}

.playcard {
  width: 46%;
  min-height: 40rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 9px 8px black;
  border-radius: 2rem;
  margin-bottom: 3%;
}

.firstimg {
  height: 75%;
  width: auto;
  max-width: 80%;
  object-fit: cover;
  margin: 3%;
}
.card-img {
  height: 80%;
  width: auto;
  max-width: 90%;
  object-fit: cover;
  margin-bottom: 2%;
}

.cardbtn {
  font-size: 2rem;
  margin-bottom: 2%;
}

.btn,
.rpsbtn,
.cfbtn {
  font-size: 4rem;
  margin-bottom: 3%;
}
h1 {
  font-size: 4rem;
}
li {
  font-size: 1.75rem;
}
